attrdict @ git+https://github.com/akitenkrad/attrdict
beautifulsoup4
black
click
colorama
flake8
gensim
ipython
ipywidgets
isort
jupyterlab
mlflow
mypy
networkx
nltk
numpy
pandas
plotly
progressbar
py-cpuinfo
pytest
python-dateutil
python-dotenv
pyunpack
requests
scikit-learn
scipy
seaborn
transformers
torch
torchinfo
torchtext
torchvision
tqdm
types-python-dateutil
types-PyYAML
types-requests
typing-extensions
types-toml
